$red: #f00714;
$black: #101010;
$gray: #acacac;
$lightgray: #eeeeee;
$white: #ffffff;

$section-gray: #31373a;
$text-gray: #272b37;
$text-active: #dbab9e;
$text-border: #cf4a46;
$section-light: rgb(246, 244, 245);
